<div class="section-title">{{ titulo }}</div>
<table class="measure">
  <thead>
    <tr>
      <th rowspan="2">Puntos</th>
      <th colspan="7">Espesores (mm)</th>
      <th colspan="2">Espesor residual</th>
    </tr>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>Promedio</th>
      <th>Minimo</th>
    </tr>
  </thead>
  <tbody>
    {% for fila in filas %}
      <tr>
        {{ fila.id }}
        {% if tipo == "empalme" %}
          <td>{{ fila.instance.posicion }}</td>
        {% else %}
          <td>{{ fila.instance.medicion }}</td>
        {% endif %}
        <td>{{ fila.a }}</td>
        <td>{{ fila.b }}</td>
        <td>{{ fila.c }}</td>
        <td>{{ fila.d }}</td>
        <td>{{ fila.e }}</td>
        <td>{{ fila.f }}</td>
        <td>{{ fila.g }}</td>
        <td class="calc">{{ fila.instance.promedio|default:"-"|floatformat:"2" }}</td>
        <td class="calc">{{ fila.instance.minimo|default:"-"|floatformat:"2" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="10">No existen filas configuradas.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
